<h1>About Us</h1>
<body>
<p>
  Hello, this is web for manage tasks,<br>
  This site was created for the final project of a degree in computer science
</p>

</body>
<%= link_to 'Back', :back,:class=>"btn-default-bg", :type=>"button" %>
