<h1>Help Page</h1>
<body>
<p>
  Hello, so this web is simple to use :)<br><br>
  for create a new project, you should click on the "New Project" button in the projects page.<br>
  fot create a new task, you should click on the "new Task" button in the top bar.<br><br>
  if you want to see which tasks have to specific project, then, in the projects page, you should click on the relative name project.

</p>


</body>
<%= link_to 'Back', :back, :type=>"button" %>
