/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#notice, .notice{
    padding-top: 20px;
}
#login_status{
    padding-top: 40px;
}
#login{

    margin-top: 0.5%;
}
#menu_new_task{
    padding: 8px;
    margin-top: 7%;
    color: #ffffff;
}
#menu_assigned_to_me{
    padding: 8px;
    margin-top: 4.5%;
    color: #ffffff;
}
#menu_created_by_me{
    padding: 8px;
    margin-top: 5%;
    color: #ffffff;
}