// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shap {
  td:nth-child(1) {
    background: #f9f9f9;
    border-spacing:0.5rem;
    padding: 0.5rem;
    border:1px solid #BBBBBB;
  }
  td:nth-child(2) {
    background: #cccccc;
    border-spacing:0.5rem;
    padding: 0.5rem;
    border:1px solid #BBBBBB;
  }
  td:nth-child(3) {
    background: #cccccc;
    border-spacing:0.5rem;
    padding: 0.5rem;
    border:1px solid #BBBBBB;
  }

}


.shap .admin{
  display: none;
}
.shap.hover .admin{
  display: table-cell;
}
.shap.hover{
  background: #ececec;
}
