.container-wrap{
    background-image: url("taskspic.jpg");
}
.width-size2{
    width:20% ;
}
.wrapper {
    /*text-align: center;*/
    align-self: center;
    margin-top: 0.6%;
    margin-left: 36.5%;
}
.jumbotron {
    margin-top: 5%;
}

body {
    font-family: 'Nunito', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eeeeee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bg{
    background: url("hands_hero.jpg") center center no-repeat;
    background-size: 100%;
}
.bg-title{
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 3px black;
    text-align: left;
}
.bg-title-main{
    font-weight: 800;
    font-size: 58px;
    line-height: 1.2;
    margin-top: 30px;
}
.bg-title-sub{
    font-size: 21px;
    font-weight: normal;
    line-height: 31px;
}
.home-right{
    align-content: center;
}