/* tables */
table.tablesorter {
	margin:10px 2pt 15px;
	font-size: 8pt;
	text-align: left;
    width: 100%;
    border: 1px solid #d0e9c6;

}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #999999;
    color: #2E2F30;
	border: 1px solid #d0e9c6;
	font-size: 10pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
    border-bottom-width: 0px;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #2b542c;
	padding: 5px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
