// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.task .admin{
  display: none;
}
.task.hover .admin{
  display: table-cell;
}

.task.hover{
  background: #ececec;
}
.main-table {
  width: 100%;
}

.fixed-table {
  /* magic */
  width: 100%;
  table-layout: fixed;

  /*not really necessary, removes extra white space */
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;


}
.fixed-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.task_btns{
  color: #333333 !important;
}
.icons{
  color: dodgerblue;
}
.icons:hover{
  color: black;
}